body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1028px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:536px;
  background:inherit;
  background-color:rgba(243, 239, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u351 {
  position:absolute;
  left:720px;
  top:700px;
  width:307px;
  height:536px;
  font-size:18px;
  color:#666666;
}
#u352 {
  position:absolute;
  left:2px;
  top:260px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u353 {
  position:absolute;
  left:836px;
  top:1036px;
  width:77px;
  height:77px;
}
#u354 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u355 {
  position:absolute;
  left:822px;
  top:1022px;
  width:105px;
  height:105px;
}
#u356 {
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:536px;
  background:inherit;
  background-color:rgba(243, 239, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u357 {
  position:absolute;
  left:32px;
  top:84px;
  width:307px;
  height:536px;
  font-size:18px;
  color:#666666;
}
#u358 {
  position:absolute;
  left:2px;
  top:260px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u359 {
  position:absolute;
  left:145px;
  top:388px;
  width:82px;
  height:82px;
}
#u360 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u361 {
  position:absolute;
  left:134px;
  top:377px;
  width:104px;
  height:104px;
}
#u362 {
  position:absolute;
  left:2px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  position:absolute;
  left:33px;
  top:85px;
  width:306px;
  height:24px;
}
#u365 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u367 {
  position:absolute;
  left:39px;
  top:94px;
  width:5px;
  height:5px;
}
#u368 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u369 {
  position:absolute;
  left:47px;
  top:94px;
  width:5px;
  height:5px;
}
#u370 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u371 {
  position:absolute;
  left:55px;
  top:94px;
  width:5px;
  height:5px;
}
#u372 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u373 {
  position:absolute;
  left:63px;
  top:94px;
  width:5px;
  height:5px;
}
#u374 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u375 {
  position:absolute;
  left:71px;
  top:94px;
  width:5px;
  height:5px;
}
#u376 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:308px;
  top:92px;
  width:22px;
  height:10px;
}
#u379 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  position:absolute;
  left:312px;
  top:95px;
  width:14px;
  height:4px;
}
#u381 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382 {
  position:absolute;
  left:330px;
  top:95px;
  width:3px;
  height:4px;
}
#u383 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u384 {
  position:absolute;
  left:82px;
  top:88px;
  width:51px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u386 {
  position:absolute;
  left:162px;
  top:88px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u388 {
  position:absolute;
  left:270px;
  top:88px;
  width:65px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u390 {
  position:absolute;
  left:32px;
  top:137px;
  width:308px;
  height:1px;
}
#u391 {
  position:absolute;
  left:2px;
  top:-8px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u392 {
  position:absolute;
  left:171px;
  top:112px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  position:absolute;
  left:122px;
  top:336px;
  width:9px;
  height:16px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:109px;
}
#u396 {
  position:absolute;
  left:126px;
  top:375px;
  width:120px;
  height:109px;
}
#u397 {
  position:absolute;
  left:2px;
  top:46px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#728A9A;
}
#u398 {
  position:absolute;
  left:109px;
  top:214px;
  width:153px;
  height:60px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#728A9A;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u400 {
  position:absolute;
  left:33px;
  top:37px;
  width:166px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:536px;
  background:inherit;
  background-color:rgba(243, 239, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u402 {
  position:absolute;
  left:32px;
  top:700px;
  width:307px;
  height:536px;
  font-size:18px;
  color:#666666;
}
#u403 {
  position:absolute;
  left:2px;
  top:260px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u405 {
  position:absolute;
  left:33px;
  top:701px;
  width:306px;
  height:24px;
}
#u406 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u408 {
  position:absolute;
  left:39px;
  top:710px;
  width:5px;
  height:5px;
}
#u409 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u410 {
  position:absolute;
  left:47px;
  top:710px;
  width:5px;
  height:5px;
}
#u411 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u412 {
  position:absolute;
  left:55px;
  top:710px;
  width:5px;
  height:5px;
}
#u413 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u414 {
  position:absolute;
  left:63px;
  top:710px;
  width:5px;
  height:5px;
}
#u415 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u416 {
  position:absolute;
  left:71px;
  top:710px;
  width:5px;
  height:5px;
}
#u417 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u419 {
  position:absolute;
  left:308px;
  top:708px;
  width:22px;
  height:10px;
}
#u420 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  position:absolute;
  left:312px;
  top:711px;
  width:14px;
  height:4px;
}
#u422 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u423 {
  position:absolute;
  left:330px;
  top:711px;
  width:3px;
  height:4px;
}
#u424 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u425 {
  position:absolute;
  left:82px;
  top:704px;
  width:51px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u426 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u427 {
  position:absolute;
  left:162px;
  top:704px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u429 {
  position:absolute;
  left:270px;
  top:704px;
  width:65px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u431 {
  position:absolute;
  left:32px;
  top:753px;
  width:308px;
  height:1px;
}
#u432 {
  position:absolute;
  left:2px;
  top:-8px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u433 {
  position:absolute;
  left:171px;
  top:728px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u435 {
  position:absolute;
  left:122px;
  top:952px;
  width:9px;
  height:16px;
}
#u436 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#728A9A;
}
#u437 {
  position:absolute;
  left:109px;
  top:830px;
  width:153px;
  height:60px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#728A9A;
}
#u438 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u439 {
  position:absolute;
  left:39px;
  top:654px;
  width:189px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u440 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:2px;
}
#u441 {
  position:absolute;
  left:92px;
  top:889px;
  width:198px;
  height:1px;
  color:#1E1E1E;
}
#u442 {
  position:absolute;
  left:2px;
  top:-8px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u443 {
  position:absolute;
  left:91px;
  top:920px;
  width:199px;
  height:1px;
  color:#1E1E1E;
}
#u444 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#728A9A;
}
#u445 {
  position:absolute;
  left:160px;
  top:897px;
  width:53px;
  height:20px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#728A9A;
}
#u446 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u448 {
  position:absolute;
  left:721px;
  top:701px;
  width:306px;
  height:24px;
}
#u449 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u451 {
  position:absolute;
  left:727px;
  top:710px;
  width:5px;
  height:5px;
}
#u452 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u453 {
  position:absolute;
  left:735px;
  top:710px;
  width:5px;
  height:5px;
}
#u454 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u455 {
  position:absolute;
  left:743px;
  top:710px;
  width:5px;
  height:5px;
}
#u456 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u457 {
  position:absolute;
  left:751px;
  top:710px;
  width:5px;
  height:5px;
}
#u458 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u459 {
  position:absolute;
  left:759px;
  top:710px;
  width:5px;
  height:5px;
}
#u460 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u462 {
  position:absolute;
  left:996px;
  top:708px;
  width:22px;
  height:10px;
}
#u463 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  position:absolute;
  left:1000px;
  top:711px;
  width:14px;
  height:4px;
}
#u465 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u466 {
  position:absolute;
  left:1018px;
  top:711px;
  width:3px;
  height:4px;
}
#u467 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u468 {
  position:absolute;
  left:770px;
  top:704px;
  width:51px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u470 {
  position:absolute;
  left:850px;
  top:704px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u472 {
  position:absolute;
  left:958px;
  top:704px;
  width:65px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u474 {
  position:absolute;
  left:720px;
  top:753px;
  width:308px;
  height:1px;
}
#u475 {
  position:absolute;
  left:2px;
  top:-8px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u476 {
  position:absolute;
  left:859px;
  top:728px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  position:absolute;
  left:810px;
  top:952px;
  width:9px;
  height:16px;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u480 {
  position:absolute;
  left:847px;
  top:1048px;
  width:55px;
  height:55px;
}
#u481 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#728A9A;
}
#u482 {
  position:absolute;
  left:797px;
  top:830px;
  width:153px;
  height:60px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#728A9A;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:2px;
}
#u484 {
  position:absolute;
  left:780px;
  top:889px;
  width:198px;
  height:1px;
  color:#1E1E1E;
}
#u485 {
  position:absolute;
  left:2px;
  top:-8px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u486 {
  position:absolute;
  left:779px;
  top:920px;
  width:199px;
  height:1px;
  color:#1E1E1E;
}
#u487 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#728A9A;
}
#u488 {
  position:absolute;
  left:848px;
  top:897px;
  width:53px;
  height:20px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#728A9A;
}
#u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u490 {
  position:absolute;
  left:779px;
  top:954px;
  width:199px;
  height:1px;
  color:#1E1E1E;
}
#u491 {
  position:absolute;
  left:2px;
  top:-8px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#728A9A;
}
#u492 {
  position:absolute;
  left:848px;
  top:931px;
  width:53px;
  height:20px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#728A9A;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:375px;
}
#u494 {
  position:absolute;
  left:389px;
  top:85px;
  width:401px;
  height:375px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u495 {
  position:absolute;
  left:2px;
  top:2px;
  width:397px;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  position:absolute;
  left:130px;
  top:162px;
  width:59px;
  height:16px;
}
#u497 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  visibility:hidden;
  white-space:nowrap;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#728A9A;
}
#u498 {
  position:absolute;
  left:107px;
  top:162px;
  width:159px;
  height:28px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#728A9A;
}
#u499 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#728A9A;
}
#u500 {
  position:absolute;
  left:107px;
  top:782px;
  width:159px;
  height:28px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#728A9A;
}
#u501 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#728A9A;
}
#u502 {
  position:absolute;
  left:796px;
  top:781px;
  width:159px;
  height:28px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#728A9A;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:129px;
}
#u504 {
  position:absolute;
  left:107px;
  top:992px;
  width:157px;
  height:129px;
}
#u505 {
  position:absolute;
  left:2px;
  top:56px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:2px;
}
#u506 {
  position:absolute;
  left:264px;
  top:1056px;
  width:536px;
  height:1px;
}
#u507 {
  position:absolute;
  left:2px;
  top:-8px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:166px;
}
#u508 {
  position:absolute;
  left:349px;
  top:833px;
  width:365px;
  height:166px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u509 {
  position:absolute;
  left:2px;
  top:2px;
  width:361px;
  word-wrap:break-word;
}
#u510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#728A9A;
}
#u510 {
  position:absolute;
  left:119px;
  top:270px;
  width:135px;
  height:34px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#728A9A;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u512 {
  position:absolute;
  left:170px;
  top:550px;
  width:32px;
  height:32px;
}
#u513 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#82BCCA;
}
#u514 {
  position:absolute;
  left:107px;
  top:586px;
  width:161px;
  height:20px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#82BCCA;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:98px;
}
#u516 {
  position:absolute;
  left:133px;
  top:1007px;
  width:108px;
  height:98px;
}
#u517 {
  position:absolute;
  left:2px;
  top:41px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u518 {
  position:absolute;
  left:139px;
  top:1010px;
  width:93px;
  height:93px;
}
#u519 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u520 {
  position:absolute;
  left:150px;
  top:1020px;
  width:72px;
  height:72px;
}
#u521 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u522 {
  position:absolute;
  left:169px;
  top:1174px;
  width:32px;
  height:32px;
}
#u523 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#82BCCA;
}
#u524 {
  position:absolute;
  left:106px;
  top:1210px;
  width:161px;
  height:20px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#82BCCA;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u526 {
  position:absolute;
  left:857px;
  top:1174px;
  width:32px;
  height:32px;
}
#u527 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#82BCCA;
}
#u528 {
  position:absolute;
  left:794px;
  top:1210px;
  width:161px;
  height:20px;
  font-family:'长城细圆体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#82BCCA;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:129px;
}
#u530 {
  position:absolute;
  left:800px;
  top:1007px;
  width:157px;
  height:129px;
}
#u531 {
  position:absolute;
  left:2px;
  top:56px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u532 {
  position:absolute;
  left:378px;
  top:550px;
  width:92px;
  height:92px;
}
#u533 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:2px;
}
#u534 {
  position:absolute;
  left:220px;
  top:566px;
  width:169px;
  height:1px;
}
#u535 {
  position:absolute;
  left:2px;
  top:-8px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:2px;
}
#u536 {
  position:absolute;
  left:222px;
  top:491px;
  width:315px;
  height:1px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u537 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u538 {
  position:absolute;
  left:525px;
  top:501px;
  width:105px;
  height:105px;
}
#u539 {
  position:absolute;
  left:2px;
  top:44px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u540 {
  position:absolute;
  left:585px;
  top:508px;
  width:25px;
  height:25px;
}
#u541 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
