body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:190px;
}
#u86 {
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  height:190px;
  font-family:'长城细圆体 Bold', '长城细圆体 Regular', '长城细圆体';
  font-weight:700;
  font-style:normal;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
